<div class="content">
	<form action="controller.php?mode=addPicture" method="POST" enctype="multipart/form-data">
	  	<table>
		    <tr>
		      <td>Alt:</td>
		      <td><input type="text" name="alt"/></td>
		    </tr>
		    <tr>
		      <td>Kirjeldus:</td>
		      <td><input type="text" name="description"/></td>
		    </tr>
		    <tr>
		      <td>Pilt:</td>
		      <td><input type="file" name="fileToUpload" id="fileToUpload"/></td>
		    </tr>
		    <tr>
		      <td colspan="2"><input type="submit" value="Lae ülesse"/></td>
		    </tr>
		 </table>
	</form>

	<?php if (!empty($errors)):?>
		<?php foreach($errors as $error):?>
			<p style="color:red; padding:0px;">
				<?php echo $error; ?>
			</p>
		<?php endforeach;?>
	<?php endif;?>
</div>