<?php 
	global $link;
	/*$sql = "SELECT id, url, alt, description FROM arooma_pictures WHERE id=".$_GET['id'];
	$result = mysqli_query($link, $sql) or die( $sql. " - ". mysqli_error($link));

	while($row = mysqli_fetch_assoc($result)){
		$picture = $row;
	}
	//var_dump($picture);

	if (!$picture) {
		header("Location: controller.php?mode=galleries");

	}*/

	// ettevalmistus
	$stmt = mysqli_prepare($link, "SELECT id, url, alt, description FROM arooma_pictures WHERE id=?");
	// seome muutujad
	mysqli_stmt_bind_param($stmt, "i", $_GET['id']);

	// käivita!
	mysqli_stmt_execute($stmt);
	// võta väärtused
	mysqli_stmt_bind_result($stmt, $picture['id'], $picture['url'],$picture['alt'],$picture['description']);
	// võta rida
	mysqli_stmt_fetch($stmt);

	//var_dump($picture);

	mysqli_stmt_close($stmt);

		if (!$picture) {
			header("Location: controller.php?mode=galleries");

		}

?>

<div class="content">
	<form action="controller.php?mode=savePicture" method="POST">
		<?php  
			echo "<img src=\"{$picture['url']}\" alt=\"{$picture['alt']}\">";
		?>
	  	<table>
		    <input type="hidden" name="id" <?php echo "value=\"{$picture['id']}\""; ?>/>
		    <tr>
		      <td>Alt:</td>
		      <td><input type="text" name="alt" <?php echo "value=\"{$picture['alt']}\""; ?>/></td>
		    </tr>

		    <tr>
		      <td>Kirjeldus:</td>
		      <td><input type="text" name="description" <?php echo "value=\"{$picture['description']}\""; ?>/></td>
		    </tr>
		    <tr>
		      <td colspan="2"><input type="submit" value="Uuenda"/></td>
		    </tr>
		 </table>
	</form>

	<?php if (!empty($errors)):?>
		<?php foreach($errors as $error):?>
			<p style="color:red; padding:0px;">
				<?php echo $error; ?>
			</p>
		<?php endforeach;?>
	<?php endif;?>
</div>