<?php 
	global $link;
	$sql = "SELECT id, url, alt, description FROM arooma_pictures";
	$result = mysqli_query($link, $sql) or die( $sql. " - ". mysqli_error($link));

	while($row = mysqli_fetch_assoc($result)){
		$pictures[] = $row;
	}


?>

<div class="content">
	<p>
	Siia tulevad lingid erinevatele galeriidele.
	</p>

	<?php 
		foreach ($pictures as $picture) {
			if (admin_rights()) {
				echo "<a href=\"?mode=changePicture&id={$picture['id']}\"><img src=\"{$picture['url']}\" alt=\"{$picture['alt']}\"></a>";
			} else {
				echo "<img src=\"{$picture['url']}\" alt=\"{$picture['alt']}\">";
			}
		}

	?>

	<?php if(admin_rights()): ?>
		<br>
		<br>
        <a href="?mode=addPicture">
            Lisa pilt
        </a>
        <br>
        <br>
    <?php endif; ?>

	<form action="controller.php?mode=galleries" method="POST">
  			<table>
    			<tr>
       				<td><input type="text" placeholder="Otsi pilt" name="picture"/></td>
    			</tr>

    			<tr>
     				<td colspan="2"><input type="submit" name="search" value="Otsi"/></td>
    			</tr>
  			</table>
	</form>

	<?php
		if (!empty($info)) {
			echo "<p>\"$find\" leitud!</p>";
			foreach ($info as $i) {
				echo "<img src=\"$i\" alt=Katki>";
			}
		} else if (!empty($find)) {
			echo "\"$find\" ei leitud!";
		} else if ($missing) {
			echo "Märksõna jäi sisestamata!";
		}
	?>
</div>




<!-- <a href=\"?mode=pciture&id={$id}\">  "<img src=\"{$picture['thumb']}\" alt=\"{$picture['alt']}\">" <a href=\"?mode=pilt&id={$id}\"> -->